{% load static %}

<footer class="nk-footer">
  <div class="container">
    <div class="nk-gap-3"></div>
    <div class="row vertical-gap">
      <div class="col-md-6">
        <div class="nk-widget">
          <h4 class="nk-widget-title"><span class="text-main-1">Contattaci</span></h4>
          <div class="nk-widget-content">
            <form action="php/ajax-contact-form.php" class="nk-form nk-form-ajax">
              <div class="row vertical-gap sm-gap">
                <div class="col-md-6">
                  <input type="email" class="form-control required" name="email" placeholder="Email *">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control required" name="name" placeholder="Name *">
                </div>
              </div>
              <div class="nk-gap"></div>
              <textarea class="form-control required" name="message" rows="5" placeholder="Messaggio *"></textarea>
              <div class="nk-gap-1"></div>
              <button class="nk-btn nk-btn-rounded nk-btn-color-white">
                <span>Invia</span>
                <span class="icon"><i class="ion-paper-airplane"></i></span>
              </button>
              <div class="nk-form-response-success"></div>
              <div class="nk-form-response-error"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="nk-widget">
          <h4 class="nk-widget-title"><span class="text-main-1">In</span> Twitter</h4>
          <div class="nk-widget-content">
            <div class="nk-twitter-list" data-twitter-count="1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-gap-3"></div>
  </div>

  <div class="nk-copyright">
    <div class="container">
      <div class="nk-copyright-left">
        <a target="_blank" href="">Gilda seria</a>
      </div>
      <div class="nk-copyright-right">
        <ul class="nk-social-links-2">
          <li><a class="nk-social-twitch" href="#"><span class="fab fa-twitch"></span></a></li>
          <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
          <li><a class="nk-social-twitter" href="#" target="_blank"><span class="fab fa-twitter"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>